<div class="contact-wrapper">
    <div class="intro-wraper">
        <h3>Contact Me</h3>
        <p>Say hello so I can get back to you as soon as possible.</p>
    </div>
    <div class="form-wrapper">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>
            <div class="input-pair">
                <label for="name">Name:</label>
                <input formControlName="name" type="text" id="name" [ngModel] required>
            </div>
            <div class="input-pair">
                <label for="email">Email:</label>
                <input formControlName="email" type="text" id="email" [ngModel] required>
            </div>
            <div class="input-pair">
                <label for="message">Message:</label>
                <textarea formControlName="message" name="message" id="message" cols="30" rows="10" [ngModel] required></textarea>
            </div>
            <div class="button-box">
                <button type="submit">Submit</button>
            </div>
        </form>
        <div id='thankYou' *ngIf="showDiv">
            <p>I look forward to getting back to you!</p><p (click)="onClose()">x</p></div>
    </div>
</div>
