<div class="contact-wrapper">
    <h3>Contact Me</h3>
    <div class="form-wrapper">
        <form action="">
            <div class="input-pair">
                <label for="name">Name:</label>
                <input type="text" id="name">
            </div>
            <div class="input-pair">
                <label for="email">Email:</label>
                <input type="text" id="email">
            </div>
            <div class="input-pair">
                <label for="message">Message:</label>
                <textarea name="message" id="message" cols="30" rows="10"></textarea>
            </div>
            <button>Submit</button>
        </form>
    </div>
</div>
