<!-- <svg preserveAspectRatio="none" viewBox="0 0 100 102" height="75" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
    <path d="M0 0 L50 100 L100 0 Z" fill="#fff" stroke="#fff"></path>
</svg> -->
<div class="contact-wrapper">
    <div class="intro-wraper">
        <h3>Contact Me</h3>
        <p>Say hello so I can get back to you as soon as possible.</p>
    </div>
    <div class="form-wrapper">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>
            <div class="input-pair">
                <label for="name">Name:</label>
                <input formControlName="name" type="text" id="name" [ngModel] required>
            </div>
            <div class="input-pair">
                <label for="email">Email:</label>
                <input formControlName="email" type="text" id="email" [ngModel] required>
            </div>
            <div class="input-pair">
                <label for="message">Message:</label>
                <textarea formControlName="message" name="message" id="message" cols="30" rows="10" [ngModel] required></textarea>
            </div>
            <div class="button-box">
                <button type="submit">Submit</button>
            </div>
        </form>
        <div id='thankYou' *ngIf="showDiv">
            <p>Thank you - I will get back to you!</p><p (click)="onClose()">x</p></div>
    </div>
</div>
