.contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 350px;
    background-color: #273444;
    height: 80vh;
    align-items: center;
    border-top: 8px solid #e31b6d;
}

h3 {
    color: #fff;
    font-size: 34px;
}

form {
    background-color: #273444;
    padding: 20px 50px;
    border-radius: 3px;
    color: #fff;
}

.input-pair {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

input {
    width: 400px;
    border-radius: 3px;
    border: 1px solid black;
    margin: 2px 0;
}

textarea {
    border-radius: 3px;
}

#message {
    height: 90px;
}

button {
    color: #fff;
    background-color: #273444;
    border: 2px solid #fff;
    cursor: pointer;
    margin-top: 4px;
}