.about-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 350px;
    background-color: #373B44;
    height: 60vh;
    align-items: center;
}

.column1, .column2 {
    width: 40%;
    color: #fff;
    font-family: 'Exo', sans-serif;
    line-height: 1.5;
}

h3 {
    font-size: 30px;
}