.about-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 350px;
    background-color: #273444;
    
}

.column1, .column2 {
    color: #fff;
    font-family: 'Exo', sans-serif;
    line-height: 1.5;
}

.column1 {
    width: 50%;
    padding-top: 50px;
}

.column2 {
    width: 50%;
    text-align: center;
    padding-top: 60px;
}

h3 {
    font-size: 34px;
    color: #e31b6d;
    background-color: #fff;
    text-align: center;
    margin: 0 35px;
    border-radius: 3px;
}

p {
    font-size: 20px;
}

