@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600&display=swap");

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 70px 0 20px;
  padding: 0 460px;
  background-color: #fff;
}

.about-title,
.about-text {
  color: #273444;
  line-height: 1.5;
}

.about-title {
  text-align: center;
}

.about-text {
  text-align: left;
  font-family: "Exo", sans-serif;
}

h3 {
  font-family: "Baloo Bhaijaan 2", cursive;
  color: #273444;
  font-size: 44px;
  font-weight: 400;
  padding-bottom: 0;
  margin-bottom: 0;
}

p {
  font-size: 18px;
  font-weight: 300;
}

@media only screen and (max-width: 1024px) {
  .about-wrapper {
    padding: 0 50px;
  }
}
