.header-container {
    background-color: #0e1824;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 300;
}

.name-container {
    font-family: 'Exo', sans-serif;
    display: flex;
    align-self: center;
    margin-left: 15px;
    width: 150px;
    color: #fff;
    /* display: none; */
}
 h3 {
     font-weight: 700;
 }

.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 400px;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    color: #fff;
}

.menu {
    margin: 12px 15px 0 0;
    align-self: center;
}

.navlink {
    cursor: pointer;
    transition: .1s;
}

.navlink:hover {
    color: #CE1B5F;
    text-decoration: underline;
}

@media only screen and (max-width: 426px) { 
    .nav {
       display: none;
    }
}

@media only screen and (min-width: 426px) { 
    .menu {
        display: none;
    }
}
