<div class="header-container" id="nav-container" [class.dark]="check">
    <div class="header-content">
        <div class="name-container">
            <h3>Ryan Hubbuck</h3>
            <a href="https://www.linkedin.com/in/ryan-hubbuck-61a749210/" target="_blank"><img class="header-link" src="../../../assets/images/icons8-linkedin-30.png" alt="Linked-in link"></a>
            <a href="https://github.com/rhubbuck" target="_blank"><img class="header-link" src="../../../assets/images/icons8-github-30.png" alt="Github link"></a>
        </div>
        <div class="nav-container">
            <ul class="nav">
                <li><a class="navlink" (click)="scrollToTop()">HOME</a></li>
                <li><a class="navlink" (click)="scrollToAbout()">ABOUT</a></li>
                <li><a class="navlink" (click)="scrollToProjects()">PROJECTS</a></li>
                <li><a class="navlink" (click)="scrollToContact()">CONTACT</a></li>
            </ul>
            <img src="../../../assets/images/icons8-menu-24.png" alt="" class="menu" (click)="onNotifyClick()">
        </div>
    </div>
</div>
<app-menu *ngIf="openMenu" (closeMenu)="onNotifyClick()" ></app-menu>
