<div class="header-container">
    <div class="name-container">
        <h3>RH</h3>
    </div>
    <div class="nav-container">
        <ul class="nav">
            <li><a class="navlink">Home</a></li>
            <li><a class="navlink">About</a></li>
            <li><a class="navlink">Projects</a></li>
            <li><a class="navlink">Contact</a></li>
        </ul>
        <img src="../../../assets/images/icons8-menu-24.png" alt="" class="menu" (click)="onNotifyClick()">
    </div>
</div>
<app-menu *ngIf="openMenu" (closeMenu)="onNotifyClick()" ></app-menu>
