@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 58px;
  color: #fff;
  font-family: "Baloo Bhaijaan 2", cursive;
  font-weight: 400;
}

h2 {
  font-size: 38px;
  color: #fff;
  font-family: "Baloo Bhaijaan 2", cursive;
  font-weight: 400;
}

.hero-wrapper {
  height: 100vh;
  overflow: hidden;
  background-image: url(../../../assets/images/mountain-hero.jpg);
  background-size: cover;
}

.tint-wrapper {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-text {
  z-index: 49;
  color: #273444;
  padding-top: 260px;
  text-align: center;
  font-family: "Baloo Bhaijaan 2", cursive;
}

.hero-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 140px;
}

.hero-link {
  color: #fff;
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 426px) {
  .hero-text {
    padding-top: 230px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 22px;
  }

  .hero-wrapper {
    height: 85vh;
  }
}
