<div class="modal-background">
    <div class="modal-container">
        <div class="modal-image-container">
            <div class="image-container-1" [style.background-image]="'url(../../../assets/images/' + image + ')'">
            </div>
            <div class="image-container-2" [style.background-image]="'url(../../../assets/images/' + imageTwo + ')'">
            </div>
            <div class="image-container-3" [style.background-image]="'url(../../../assets/images/' + imageThree + ')'">
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-text">
                <h3 class="modal-title">{{title}}</h3>
                <p>{{techs}}</p>
                <p>{{description}}</p>
                <p>{{sourceCode}}</p>
            </div>
           <div class="modal-buttons">
            <div class="link-box">
                <button class="link"><a href="{{liveSite}}" target="_blank" class="link-anchor">Live Site</a></button>
                <button class="link" ><a href="{{sourceCode}}" target="_blank" class="link-anchor">Source code</a></button>
            </div>
            <div class="back-box">
                <button id="back" (click)="onClick()">Back</button>
            </div>
           </div>
        </div>
    </div>
</div>
