<div class="modal-background">
    <div class="modal-container">
        <div class="image-container">
        </div>
        <div class="modal-content">
            <h3>{{title}}</h3>
            <p>{{techs}}</p>
            <p>{{description}}</p>
            <div class="link-box">
                <button class="link">Live site</button>
                <button class="link">Source code</button>
            </div>
            <div class="back-box">
                <button id="back" (click)="onClick()">Back</button>
            </div>
        </div>
    </div>
</div>
