.projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #273444;
    padding-top: 50px;
    margin: 0 180px;
    position: relative;
}

.outer {
    margin: 0;
    padding: 0;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 80px;
    width: 100%;
}

.svgcolor-light {
    background-color: #273444;
}

.label {
    text-align: center;
}

.image-container {
    height: 220px;
    width: 300px;
}

.project {
    width: 50%;
    height: 300px;
    background-image: url("../../../assets/images/clement-helardot-95YRwf6CNw8-unsplash.jpg");
    background-size: cover;
    text-align: center;
}

.project-content {
    z-index: 5;
    padding-top: 40px;
    color: #273444;
    background-color: #fff;
    height: 100%;
}

button {
    margin-top: 40px;
    color: #e31b6d;
    background-color: #fff;
    border: 2px solid #273444;
    cursor: pointer;
    padding: 8px;
    font-size: 20px;
    transition: .2s;
}

button:hover {
    background-color: #e31b6d;
    color: #fff;
}

p {
    color: #e31b6d;
}

h3 {
    font-size: 34px;
}

h4 {
    font-size: 32px;
}

/* .project-card {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
} */