.projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #273444;
    padding-top: 50px;
    margin: 0 180px;
    position: relative;
    
}

.outer {
    margin: 0;
    padding: 0;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* margin-bottom: 80px; */
    width: 100%;
}

.svgcolor-light {
    background-color: #273444;
}

.label {
    text-align: center;
    margin-bottom: 40px;
}

.image-container {
    height: 220px;
    width: 300px;
}

.project {
    width: 33%;
    height: 300px;
    background-image: url("../../../assets/images/clement-helardot-95YRwf6CNw8-unsplash.jpg");
    background-size: cover;
    text-align: center;
}

.project-content {
    z-index: 5;
    padding-top: 40px;
    color: #273444;
    background-color: #fff;
    height: 100%;
}

button {
    margin-top: 40px;
    color: #e31b6d;
    background-color: #fff;
    border: 2px solid #273444;
    cursor: pointer;
    padding: 8px;
    font-size: 20px;
    transition: .2s;
}

button:hover {
    background-color: #e31b6d;
    color: #fff;
}

p {
    color: #e31b6d;
    font-weight: 600;
}

h3 {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 0;
}

h4 {
    font-size: 32px;
}

/* .project-card {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
} */
@media only screen and (max-width: 1024px) {
    .projects-wrapper {
        margin: 0 40px;
    }

    .project {
        height: 240px;
        width: 48%;
        margin: 5px;
    }
}

@media only screen and (max-width: 426px) {
    .projects-wrapper {
        padding: 0;
    }
    .project {
        width: 80%;
        height: 220px;
        margin: 5px;
    }
}