.projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #273444;
  padding-top: 50px;
  margin: 0 120px;
}

.outer {
  margin: 0;
  padding: 0;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.label {
  text-align: center;
  margin-bottom: 40px;
}

.image-container {
  height: 220px;
  width: 300px;
}

.project {
  width: 50%;
  height: 320px;
  background-image: url("../../../assets/images/clement-helardot-95YRwf6CNw8-unsplash.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.project-subheader {
  font-family: "Exo", sans-serif;
}

#project1 {
  background-image: url("../../../assets/images/Pupexpress-main.png");
  background-position: top;
}

#project2 {
  background-image: url("../../../assets/images/Nama-main.png");
  background-position: top;
}

#project3 {
  background-image: url("../../../assets/images/Netflix-main.png");
  background-position: top;
}

#project4 {
  background-image: url("../../../assets/images/Alltrails-main.png");
  background-position: top;
}

.project-content {
  z-index: 5;
  padding-top: 40px;
  color: #273444;
  background-color: #fff;
  height: 100%;
}

button {
  margin-top: 40px;
  color: #e31b6d;
  background-color: #fff;
  border: 2px solid #273444;
  cursor: pointer;
  padding: 8px;
  font-size: 20px;
  transition: 0.2s;
}

button:hover {
  background-color: #e31b6d;
  color: #fff;
}

p {
  font-family: "Baloo Bhaijaan 2", cursive;
  color: #e31b6d;
  font-weight: 600;
  font-size: 22px;
}

h3 {
  font-family: "Baloo Bhaijaan 2", cursive;
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 0;
}

h4 {
  font-size: 32px;
}

@media only screen and (max-width: 1400px) {
  .projects-wrapper {
    margin: 0 40px;
  }

  .project {
    width: 48%;
    margin: 5px;
    height: 240px;
  }

  h4 {
    font-size: 26px;
  }

  button {
    margin-top: 20px;
    padding: 4px;
  }

  h3 {
    margin: 0;
  }
}

@media only screen and (max-width: 769px) {
  .project {
    height: 180px;
  }

  h3 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }

  h4,
  .project-subheader {
    margin: 0;
  }
}

@media only screen and (max-width: 426px) {
  .projects-wrapper {
    padding: 0;
  }

  .project-content {
    padding-top: 10px;
  }

  .project {
    width: 80%;
    height: 220px;
    margin: 5px;
  }

  button {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }
}
