
<div class="projects-wrapper">
    <div class="label">
        <h3>My Projects</h3>
    </div>
    <app-modal *ngIf="openModal" (closeModal)="onNotifyClick()"></app-modal>
    <div class="project-container">
        <div class="project" (mouseenter)="changeState()" (mouseleave)="changeState()" class="project">
            <div *ngIf="state" class="project-content">
                <h4>PupExpress</h4>
                <p>React / Commerce.js / Swipe</p>
                <button (click)="changeModal()">Learn More</button>
            </div>
        </div>
        <div class="project" (mouseenter)="changeStateTwo()" (mouseleave)="changeStateTwo()" class="project">
            <div *ngIf="stateTwo" class="project-content">
                <h4>PupExpress</h4>
                <button>Learn More</button>
            </div>
        </div>
        <div class="project" (mouseenter)="changeStateThree()" (mouseleave)="changeStateThree()" class="project">
            <div *ngIf="stateThree" class="project-content">
                <h4>PupExpress</h4>
                <button routerLink="/all-trail">Learn More</button>
            </div>
        </div>
        <div class="project" (mouseenter)="changeStateFour()" (mouseleave)="changeStateFour()" class="project">
            <div *ngIf="stateFour" class="project-content">
                <h4>PupExpress</h4>
                <button>Learn More</button>
            </div>
        </div>
        <div class="project" (mouseenter)="changeStateFive()" (mouseleave)="changeStateFive()" class="project">
            <div *ngIf="stateFive" class="project-content">
                <h4>PupExpress</h4>
                <button>Learn More</button>
            </div>
        </div>
        <div class="project" (mouseenter)="changeStateSix()" (mouseleave)="changeStateSix()" class="project">
            <div *ngIf="stateSix" class="project-content">
                <h4>PupExpress</h4>
                <button>Learn More</button>
            </div>
        </div>
    </div>
</div>


