.find-wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 140px 470px 10px;
  text-align: center;
}

.find-link {
  cursor: pointer;
}

.find-resume {
  color: #e31b6d;
  background-color: #fff;
  border: 2px solid #273444;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s;
  height: 54px;
  margin: 0 16px;
}

.find-resume:hover {
  background-color: #e31b6d;
  color: #fff;
}

.find-header {
  font-family: "Baloo Bhaijaan 2", cursive;
  color: #e31b6d;
  font-size: 42px;
  font-weight: 400;
  margin: 0;
}

.find-link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1400px) {
  .find-wrapper {
    padding: 110px 240px;
  }

  h3 {
    margin: 0;
  }
}

@media only screen and (max-width: 769px) {
  .find-wrapper {
    padding: 90px 140px;
  }

  h3,
  .find-header {
    font-size: 40px;
  }
}

@media only screen and (max-width: 426px) {
  .find-wrapper {
    padding: 100px 0 100px;
  }
}
