.skills-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    /* background-color: #273444; */
    background-color: #fff;
    align-items: center;
    padding: 50px;
}

.label, .logos{
    width: 40%;
    color: #273444;
    font-family: 'Exo', sans-serif;
    line-height: 1.5;
}

.logos {
    display: flex;
    justify-content: space-evenly;
}

h3 {
    font-size: 34px;
    font-weight: 400;
}

@media only screen and (max-width: 1024px) {
    .logos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        padding: 0;
    }
}

@media only screen and (max-width: 426px) {
    .logos {
        width: 80%;
    }

    .skills-wrapper {
        padding: 50px 20px;
    }
}