.skills-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: #373B44;
    height: 60vh;
    align-items: center;
}

.label, .logos{
    width: 40%;
    color: #fff;
    font-family: 'Exo', sans-serif;
    line-height: 1.5;
}

.logos {
    display: flex;
    justify-content: space-evenly;
}

h3 {
    font-size: 30px;
}
