<div class="skills-wrapper">
    <div class="label">
        <h3>Skills</h3>
    </div>
    <div class="logos"> 
        <img src="../../../assets/images/icons8-javascript-96.png" alt="Javascript">
        <img src="../../../assets/images/icons8-html-5-96.png" alt="HTML">
        <img src="../../../assets/images/icons8-css3-96.png" alt="CSS">          
        <img src="../../../assets/images/icons8-typescript-96.png" alt="Typescript">
        <img src="../../../assets/images/icons8-sass-avatar-96.png" alt="Sass">
        <img src="../../../assets/images/icons8-git-96.png" alt="Git">
        <img src="../../../assets/images/icons8-angularjs-96.png" alt="Angular">
        <img src="../../../assets/images/icons8-react-native-96.png" alt="React">
        <img src="../../../assets/images/icons8-node-js-96.png" alt="Node">
        <img src="../../../assets/images/icons8-bootstrap-96.png" alt="Bootstrap">
        <img src="../../../assets/images/icons8-material-ui-96.png" alt="Material UI">
    </div>
</div>
<svg preserveAspectRatio="none" viewBox="0 0 100 102" height="75" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
    <path d="M0 0 L50 100 L100 0 Z" fill="#273444" stroke="white"></path>
</svg>
