.skills-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(243, 243, 243);
  align-items: center;
  padding: 50px 470px;
}

.technologies {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.skills-title {
  color: #273444;
  font-family: "Baloo Bhaijaan 2", cursive;
  font-size: 42px;
  font-weight: 400;
}

.logos {
  display: flex;
  justify-content: space-evenly;
}

h3 {
  font-size: 34px;
  font-weight: 400;
}

@media only screen and (max-width: 1024px) {
  .logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    padding: 0;
  }
}

@media only screen and (max-width: 1400px) {
  .skills-wrapper {
    padding: 50px 240px;
  }
}

@media only screen and (max-width: 769px) {
  .skills-wrapper {
    padding: 50px 140px;
  }

  h3,
  .skills-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 426px) {
  .skills-wrapper {
    padding: 50px 20px;
  }

  .skills-title {
    margin: 0;
  }
}
