<div class="skills-wrapper">
    <div class="skills-label">
        <h3 class="skills-title">Technologies I work with</h3>
    </div>
    <div class="technologies"> 
        <div class="languages">
            <h4>Languages</h4>
            <p>Javascript</p>
            <p>Typescript</p>
            <p>HTML/CSS</p>
            <p>SCSS</p>
            <p>Liquid</p>
        </div>
        <div class="frameworks">
            <h4>Frameworks</h4>
            <p>React</p>
            <p>Angular</p>
            <p>Hydrogen</p>
        </div>
        <div class="additional">
            <h4>Additional</h4>
            <p>Git</p>
            <p>Bootstrap</p>
            <p>Material UI</p>
            <p>Node</p>
            <p>Tailwind</p>
        </div>
    </div>
</div>
->
